thead,
tfoot {
    color: tomato;
}


h1,
h3 {
    color: #222222;
}

.nav-link.active {
    color: red;
}

hr {
    border-style: dotted none none;
    border-width: 10px;
    color: #22A39F;
    height: 10px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;

}

body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: lighter;
    background: #f8f9fd;
    color: gray;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    background-color: #F3EFE0;
}

table {
    min-width: 100px;
    width: 100%;
    border-collapse: separate;
    border: spacing 0 20px;

}

img {
    border-radius: 50%;
    width: 20%;

}

thead,
th {
    color: #fff;
    background-color: #343a40;
    border: 1px;
    border-color: #fff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

table,
thead,
th {
    border: 1px;
    border-color: #fff;
    font-size: 14px;
}

th {
    text-align: inherit;
    display: table-cell;
}

td {
    padding: 10px;
    text-align: left;
    display: table-cell;
}

li {
    color: white;
}





.detail {
    background-color: #20c997;
}

h3 {
    text-align: center;
}

#Education {
    height: auto;
    position: relative;
    padding: 70px;
    margin: 20px;

}

#Employment {
    height: auto;
    position: relative;
    padding: 70px;
    margin: 20px;

}

#Skills {
    height: auto;
    position: relative;
    padding: 70px;
    margin: 20px;

}

#Hobby {
    height: auto;
    position: relative;
    padding: 70px;
    margin: 20px;

}




.profileImg {
    display: block;
    position: relative;
    top: 30px;
    padding: 50px;
}

.aboutMe{
    margin-left: 20px;
    
}
.job{
    margin-left: 20px;

}


:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}