.example-div{
    padding:20px;
      margin-left: 10px;
  
    background-color: lightblue;
  }
  
  .example-div2{
    
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
  }
  .example-div3{
    margin-left:90%;
    width: 200px;
    height: 200px;
    background-color: red;
  }
  .example-div2,.example-div3{
    margin-bottom:0;
  }