h1 {
  color: red;
  font-size: 200px;
}
h2 {
  font-size: 50px;
  color:blue;
}
img {
background-color:red;
/* display:block; */
}
img:hover {
  background-color: gold;
}

/* Class Selector */

.bacon {
  position: relative;
  background-color: green;
}
.broccoli {
  background-color:red;
}
.borderNha {
  border-style: dotted;
  border-width: 30px;
}
.circular {
  border-radius: 100%;
}
.sandwich{
  display: block;
  background-color: violet;
}
.pushDown {
  position: relative;
  top:50px;
}

/* ID Selector */

#heading {
  color: blue;
}
#heading2 {
  font-size: 150px;
}
